$color-primary: #000000;
$color-primary-light: #4c6ef5;
$color-primary-dark: #00060b;
$color-grey: #777;
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #faeee7;
$color-grey-light-2: #eee;
$color-about: #33272a;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
//grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$default-font-size: 1.6rem;
